:root[data-theme="light"] {
  --color-headings: #0a0a0a;
  --color-typefaces: #262626;
  --color-background: #fafafa;

  --blockquote-color-background: #f3f4f6;
  --blockquote-color-border: #e5e7eb;
  --code-color-typefaces: crimson;
  --code-color-background: rgba(222, 222, 222, 0.3);
  --kbd-color-typefaces: var(--color-typefaces);
  --kbd-color-border: #e5e7eb;
  --kbd-color-background: #f3f4f6;
  --elements-tables-color-border: #e5e7eb;

  --filter-webkit-calendar-picker-indicator: invert(0);
}

:root[data-theme="dark"] {
  --color-headings: #fafafa;
  --color-typefaces: #e5e5e5;
  --color-background: #0a0a0a;

  --blockquote-color-background: #111827;
  --blockquote-color-border: #1f2937;
  --code-color-typefaces: #ff9999;
  --code-color-background: rgba(222, 222, 222, 0.1);
  --kbd-color-typefaces: var(--color-typefaces);
  --kbd-color-border: #1f2937;
  --kbd-color-background: #111827;
  --elements-tables-color-border: #1f2937;

  --filter-webkit-calendar-picker-indicator: invert(1);
}