body,
textarea {
  font-family: var(--general-font-family);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 12%;
  word-spacing: 16%;
  max-width: 100ch;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

h6,
h5,
h4,
h3,
h2,
h1 {
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: calc(137.5% + 1.5vw);
}

h2 {
  font-size: calc(132.5% + 0.9vw);
}

h3 {
  font-size: calc(130% + 0.6vw);
}

h4 {
  font-size: calc(127.5% + 0.3vw);
}

@media (min-width: 1200px) {
  h1 {
    font-size: 250%;
  }

  h2 {
    font-size: 200%;

  }

  h3 {
    font-size: 175%;
  }

  h4 {
    font-size: 150%;
  }
}

h5 {
  font-size: 125%;
}

h6 {
  font-size: 100%;
}

address {
  font-style: normal;
  line-height: inherit;
}

dt {
  font-weight: 700;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 87.5%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
}

pre,
code,
kbd,
samp {
  font-family: var(--general-font-family-code);
  font-size: 100%;
}

pre,
code,
kbd {
  font-size: 87.5%;
}

pre code {
  font-size: inherit;
}

kbd kbd {
  font-size: 100%;
}

input,
button,
select,
optgroup,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

legend {
  font-size: calc(127.5% + 0.3vw);
  line-height: inherit;
}

@media (min-width: 1200px) {
  legend {
    font-size: 150%;
  }
}

/* ::file-selector-button, */
::-webkit-file-upload-button {
  font: inherit;
}