/**
 * Basic typography style for copy text
 */
body {
  font-family: 'Manrope', sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: 3.5em;
  font-family: 'Montserrat', sans-serif;
}

p,
li {
  font-size: 1.1em;
}

.photo-hover {
  font-size: 1.5em;
}