:root {
  --general-font-family: 'Inclusive Sans',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;

  --general-font-family-code: 'JetBrains Mono',
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;


  --general-color-font: #202122;
  --general-titel-color-font: #000;
  --general-background-color: #f8f9fa;

  --color-font-kdb: var(--general-background-color);
  --color-background-kdb: #070605;


  --general-margin-bottom: 1rem;
  --general-padding-length-Width: 0rem .375rem;
}