:root {
    --font-family-text: 'Inclusive Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    --font-family-code: 'JetBrains Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

    --line-height-html: 1.5;
    --font-weight-body: 400;
    --font-size: 1rem;
    --font-size-code: .875rem;

    --color: #202122;
    --color-code: #d63384;
    --background-body: #f8f9fa;
    --background-body-dark: #070605;
}