// layouts
$left-right: 1vh;
$padding-2100: 0 30%;

// color
$white: GhostWhite;
$grid: #242424;
$light-purple: #a5b4fc;
$dark-purple: #8e86b5;
$dark-blue: #1f2039;

// gradient
$linear-gradient: linear-gradient($dark-purple, $light-purple);
$hover-linear-gradient: linear-gradient(#696484, #8788ba);

// padding
$header-footer: 20px 50px;
$main-padding-2100: 1rem 15%;
$section-padding: 80px;

// radius
$radius: .5rem;

// margin
$margin-bottom: 80px;
$margin-top: 30px;

/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;