abbr:where([title]) {
  text-decoration: underline dotted;
  cursor: help;
}

a {
  text-decoration: none;
  color: #36c;
  background: none;

  &:not([href]) {
    cursor: pointer;
  }

  &:visited {
    color: #795cb2;
  }

  &:active {
    color: #faa700;
  }
}

a:hover,
a:focus {
  text-decoration: underline;
}

a:lang(ar),
a:lang(kk-arab),
a:lang(mzn),
a:lang(ps),
a:lang(ur) {
  text-decoration: none;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: var(--font-size-genreal);
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25rem;
}

sup {
  top: -0.5rem;
}
