/* https: https: //www.w3.org/TR/2011/WD-html5-20110525/semantics.html#the-root-element */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "inclusiveSans-regular",
    var(--font-family-text);
}

html {
  font-size: 1rem;
  -webkit-text-size-adjust: 100%;
  line-height: 2rem;
}