*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "inclusiveSans-regular", var(--alternative-typefaces);
  font-size: var(--typefaces-size);
  line-height: 2rem;
  -webkit-text-size-adjust: 100%;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}

@media (min-width: 1600px) {}

@media (min-width: 2100px) {}

@media (min-width: 2800px) {}

@media (min-width: 3300px) {}