img,
video,
svg {
  max-width: 100%;
  vertical-align: middle;
}

iframe {
  border: 0;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}

@media (min-width: 1600px) {}

@media (min-width: 2100px) {}

@media (min-width: 2800px) {}

@media (min-width: 3300px) {}