/* https: https: //www.w3.org/TR/2011/WD-html5-20110525/grouping-content.html#grouping-content */
p {
  margin: 0 0 1rem 0;
  max-width: 80ch;
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}

pre {
  font-family: "jetBrainsMono-regular",
    var(--font-family-code);
  font-size: inherit;
  line-height: inherit;
  display: block;
  margin: 0 0 1rem 0;
  overflow: auto;

  & code {
    font-size: inherit;
    color: inherit;
    background: inherit;
    word-break: normal;
  }
}

blockquote {
  margin: var(--base-tag-margin-00);
  border-radius: var(--base-tag-radius-00);
  padding: var(--base-tag-padding-00);
  border-left: 4px solid var(--border-blockquote);
  background: var(--background-blockquote);
}

ol,
ul,
dl {
  margin: 0 0 1rem 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: bolder;
}

dd {
  margin: 0 0 0.5rem 0;
}

figure {
  margin: 0 0 1rem;
}