/* https: //www.w3.org/TR/2011/WD-html5-20110525/text-level-semantics.html#text-level-semantics */
a {
  text-decoration: transparent;
  color: var(--color-anchor);
  background: transparent;

  &:hover {
    text-decoration: underline;
    color: var(--color-anchor-hover);
  }

  &:active {
    text-decoration: underline;
    color: var(--color-anchor-active);
  }

  &:visited {
    color: var(--color-anchor-visited);
  }

  &>code {
    color: inherit;
  }
}

abbr[title] {
  text-transform: uppercase;
  cursor: help;
  text-decoration: underline dotted;
  -webkit-text-decoration: underline dotted;
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip-ink: none;
}

code {
  border-radius: var(--base-tag-radius-00);
  padding: var(--base-tag-padding-00);
  color: var(--color-code);
  background: var(--background-code);
  word-wrap: break-word;

  & * :not(a) {
    color: inherit;
    background: inherit;
  }
}

kbd {
  padding: var(--base-tag-padding-00);
  border-radius: var(--base-tag-radius-00);
  color: var(--color-kbd);
  background: var(--background-kbd);
  border: 0.1rem solid var(--border-kbd);
}

sub,
sup {
  position: relative;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25rem;
}

sup {
  top: -.5rem;
}

mark {
  padding: var(--base-tag-padding-00);
  border-radius: var(--base-tag-radius-00);
}