@font-face {
  font-family: "jetBrainsMono-regular";
  src: url("../assets/fonts/JetBrainsMono/JetBrainsMono-Regular.woff2")
      format("woff2"),
    url("../assets/fonts/JetBrainsMono/JetBrainsMono-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "inclusiveSans-regular";
  src: url("../assets/fonts/InclusiveSans/InclusiveSans-Regular.woff2")
      format("woff2"),
    url("../assets/fonts/InclusiveSans/InclusiveSans-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "inclusiveSans-italic";
  src: url("../assets/fonts/InclusiveSans/InclusiveSans-Italic.woff2")
      format("woff2"),
    url("../assets/fonts/InclusiveSans/InclusiveSans-Italic.woff")
      format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
