.--normal,
[role=button],
[type=button],
button,
[type=submit] {
  color: #e5e5e5;
  background: #3b82f6;

  &:hover {
    background: #1e40af;
  }

  &:active {
    background: #f59e0b;
  }
}

.--delete,
[type=reset] {
  color: #e5e5e5;
  background: #ef4444;

  &:hover {
    background: #991b1b;
  }

  &:active {
    background: #f59e0b;
  }
}